<template>
  <div class="communities">
    <div v-for="community in communities" v-bind:key="community.id" class="community">
      <div class="header" v-bind:style="{backgroundColor: community.color, backgroundImage: `url('/api${community.background}')`}">
        <img :src="'/api' + community.image">
      </div>
      <div class="information">
        <h3>{{community.title}}</h3>
        <h6>{{community.members}} Members</h6>
        <p>{{community.description}}</p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      communities: null
    }
  },
  mounted () {
    axios
      .get('/api/communities.json')
      .then(response => (this.communities = response.data))
      .catch(error => {
        console.log(error)
      })
  }
}
</script>

<style scoped lang="sass">

  .communities
    display: flex
    flex-wrap: wrap

  .community
    display: flex
    margin: 10px
    width: 300px
    flex-grow: 2
    flex-direction: column

  .header
    display: flex
    align-items: center
    justify-content: center
    padding: 10px 0px
    background-position: center
    background-size: cover

    img
      border: 2px solid white
      border-radius: 15px
      width: 100px
      height: 100px
      object-fit: cover


</style>
