<template>
<div class="display">
  <router-view/>
</div>
</template>

<script>
import router from '@/router'
export default {
  
}

</script>

<style scoped lang="sass">
  $darker-color: #08252f
  $primary-color: #073b4c

  .display
    padding-top:    2rem
    padding-bottom: 2rem
    margin: 0px 5px

  @media (min-width: 48em)
    .display
      max-width: 38rem
      margin-left: 20rem
      margin-right: 2rem

  @media (min-width: 64em)
    .display
      max-width: 64rem
      margin-left: 22rem
      margin-right: 4rem

  h1
    font-family: 'Cantarell', sans-serif
    margin: 0px

</style>
