<template>
  <themed-panel id="global-panel">
    <div id="top">
      <h1><a href="/">FreeFiction</a></h1>
      <div class="logged-in">
        <div class="user">
          <div class="avatar">
          </div>
          <p>@Username</p>
        </div>
        <div class="user-options">
          <h6>Settings | Logout</h6>
        </div>
      </div>
      <div class="no-session">
        <p>Sign in | Sign up</p>
      </div>
      <p><a href="/books">Books</a></p>
      <p><a href="/communities">Communities</a></p>
      <p>Searches</p>
      <p>Notifications</p>
      <p>Messages</p>
    </div>
    <div id="bottom">
      <div class="session-settings">
        <p>Change Theme</p>
        <theme-picker/>
        <ToggleDark/>
      </div>
    </div>
  </themed-panel>
</template>

<script>
import ThemePicker from './ThemePicker'
import ToggleDark from './ToggleDark'


export default {
  components: {
    ThemePicker,
    ToggleDark
  }
}
</script>

<style scoped lang="sass">
  $darker-color: #08252f
  $primary-color: #073b4c

  @import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Abril+Fatface')
  .logged-in
    display: flex
    flex-direction: column

    h6, p
      margin: 0px

    .user
      display: flex
      align-items: center
      margin-bottom: 5px

  #global-panel
    text-align: center
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 1rem 1rem
    color: rgba(255,255,255,.5)

    .avatar
      height: 25px
      width: 25px
      border-radius: 100%
      border: 1px solid white
      background-color: grey
      margin-right: 5px

    p:hover
      color: white

  @media (min-width: 48em)
    #global-panel
      position: fixed
      top: 0
      left: 0
      bottom: 0
      width: 15rem
      text-align: left

  h1
    font-family: 'Permanent Marker', 'Abril Fatface', serif
    color: white
    margin: 0px



</style>
