<template>
  <div class="home">
    <h1>Welcome to FreeFiction</h1>
    <p>FreeFiction is a platform for readers and authors. It is about freedom to
       write and not be restricted for the content you write. We won't impose
       rules on your freedom of creativity. It is entirely community driven but
       with a modern style, and the source code is public too.</p>
       <p>Also because FreeFiction is in beta, please let us know of any
         encountered bugs. Features are being actively worked on so it is far
         from being a finished product. Thank you for understanding and we hope
         you will enjoy FreeFiction as it continues it's development and grows.
       </p>
      <h3>All Books</h3>
      <div class="books">
        <div v-for="book in books" v-bind:key="book.id" class="book">
          <img :src="'/api' + book.image">
          <div class="information">
            <strong>{{book.title}}</strong>
            <p class="faded">by {{book.author.username}}</p>
            <h6>{{book.views}} Views, {{book.chapters}} Chapters, {{book.favourites}} Favourited</h6>
            <p>{{book.description}}</p>
            <div class="tags">
              <div v-for="tag in book.tags" v-bind:key="tag.id" class="tag">
                <p>{{tag.name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'home',
  data () {
    return {
      books: null
    }
  },
  mounted () {
    axios
      .get('/api/books.json')
      .then(response => (this.books = response.data))
      .catch(error => {
        console.log(error)
      })
  }
}
</script>

<style scoped lang="sass">
  $darker-color: #08252f
  $primary-color: #073b4c

  @import url('https://fonts.googleapis.com/css?family=Cantarell')

  @media (min-width: 48em)
    .book
      margin: 5px

  h1
    font-weight: 800
    margin: 0px

  p.faded
    color: rgba(0,0,0,.5)

  .books
    display: flex
    align-content: space-around
    flex-wrap: wrap

  .book
    padding: 5px
    width: 350px
    flex-grow: 2
    display: flex

    &:hover
      background-color: #EEE

    p, h6
      margin: 0

    img
      max-width: 100px
      padding-right: 5px
      height: 140px
      object-fit: cover

    .tags
      display: flex
      flex-wrap: wrap
      margin: 5px

    .tag
      border-radius: 10px
      margin-right: 5px
      padding: 3px
      background-color: rgba(0,0,0,.1)

      &:hover
        background-color: $darker-color
        color: white
</style>
