<template>
  <compact-picker
    :value ="themeColor"
    @input="setThemeColor($event.hex)"
    :disableAlpha="true"
    :palette="[
      '#08252f', '#665555', '#456476', '#48644b', '#3c376b', '#c1809b', '#bd443b', '#000000',
    ]"
  />
</template>

<script>
import { Compact } from 'vue-color'
import { mapGetters, mapMutations } from 'vuex'

export default {
  components: {
    'compact-picker': Compact
  },
  computed: {
    ...mapGetters([
      'themeColor'
    ])
  },
  methods: {
    ...mapMutations([
      'setThemeColor'
    ])
  }
}
</script>

<style scoped lang="sass">


</style>
