<template>
  <div class="toggle-dark">
    <div id="align-text">
      <p>Dark Mode</p>
      <div>
        <input type="checkbox" id="switch" for="switch" v-model="darkMode" @input="setDarkMode(!darkMode)">
        <label for="switch">Toggle</label>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
export default {
  data () {
    return {
      darkMode: this.$store.state.darkMode
    }
  },
  computed: {
    ...mapGetters([
      'darkMode'
    ])
  },
  methods: {
    ...mapMutations([
      'setDarkMode'
    ])
  }
}

</script>

<style scoped lang="sass">

  #align-text
    display: flex
    align-items: center
    justify-content: space-between

  .toggle-dark
    display: flex
    flex-direction: column-reverse

  // Toggle switch

  input[type=checkbox]
    height: 0
    width: 0
    visibility: hidden
    display: none


  label
    cursor: pointer
    text-indent: -9999px
    width: 60px
    height: 30px
    background: rgba(255,255,255,.4)
    display: block
    border-radius: 30px
    position: relative
    border: 1px solid white


  label:after
    content: ''
    position: absolute
    top: 5px
    left: 5px
    width: 20px
    height: 20px
    background: #fff
    border-radius: 20px
    transition: 0.3s


  input:checked + label
    background: rgba(0,0,0,.4)
    border: 1px solid white


  input:checked + label:after
    left: calc(100% - 5px)
    transform: translateX(-100%)

  // Bo-ing!
  label:active:after
    width: 20px

</style>
