<template>
  <div id="app" v-bind:class="{ 'theme-dark' : this.$store.state.darkMode}">
    <GlobalPanel/>
    <Display/>
  </div>
</template>

<script>
import Display from './components/Display'
import GlobalPanel from './components/GlobalPanel'
export default {
  name: 'App',
  components: {
    Display,
    GlobalPanel
  },
}
</script>

<style lang="sass">
  @import url('https://fonts.googleapis.com/css?family=Cantarell|Noto+Serif')
  $darker-color: #08252f
  $primary-color: #073b4c
  #app
    font-family: 'Noto Serif', Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    min-height: 100vh

    &.theme-dark
      background-color: black
      color: white

      .faded
        color: rgba(255,255,255,.5)

      .book:hover
        background-color: rgba(255,255,255,.1)


  body
    margin: 0

  p, h1, h2, h3, h4, h5, h6, strong,
    /* If you can't figure it out, this basically breaks long words. */
    overflow-wrap: anywhere

  h1, h2
    font-weight: normal

  ul
    list-style-type: none
    padding: 0

  li
    display: inline-block
    margin: 0 10px

  a
    color: inherit
    text-decoration: none



</style>
